:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: white;
    --navbar-text-color-focus: hsl(0, 0%, 85%);
    --navbar-bg-contrast:  rgba(59, 130, 246, 1);
}

html,
body {
	font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}*/

/*main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    --navbar-height: 5em;
    position: fixed;
    height: var(--navbar-height);
    /*background-color: var(--navbar-bg-color);*/
	background: #1488CC; 
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2B32B2, #1488CC); 

    left: 0;
    right: 0;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);*/
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.dropdown-item {
    color: black !important;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
}

.home-link:focus,
.home-link:hover {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;    
}

.navbar-link:focus,
.navbar-link:hover {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}



.navbar-logo {
/*    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;*/
}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color);
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: var(--navbar-text-color-focus);
}


#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

.navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out,
                left 0.2s ease-in-out,
                right 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.navbar-menu.sidebar,
.navbar-menu.sidebar.left {
    left: -1000px;
    right: 0;
}

.navbar-menu.sidebar.right {
    right: -1000px;
    left: 0;
}

.navbar-menu.detached,
.navbar-menu.attached {
    left: 0;
    right: 0;
}

#navbar.opened .navbar-menu {
    /*background-color: rgba(0, 0, 0, 0.4);*/
    opacity: 1;
    visibility: visible;
}

#navbar.opened .navbar-menu.sidebar.left {
    left: 0;
}

#navbar.opened .navbar-menu.sidebar.right {
    right: 0;
}

.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    /*background-color: var(--navbar-bg-color);*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}

.sidebar .navbar-links {
    top: 0;
    bottom: 0;
}

.left.sidebar .navbar-links {
    left: 0;
    right: unset;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.3);
}

.right.sidebar .navbar-links {
    right: 0;
    left: unset;
    box-shadow: -5px 20px 20px rgba(0, 0, 0, 0.3);
}

.detached .navbar-links {
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.attached .navbar-links {
    left: 0;
    right: 0;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

/* Nosotros */ 
.nosotros {
    margin-top: 4em !important;
    /*height: 100vh;*/
}

.btn-outline-secondary:hover {
    color: white !important;
}

.spacer {
    margin-top: 3em;
    margin-bottom: 3em;
}

.name:hover {
    text-decoration: underline !important;
}

/* Fin Nosotros */


/* Precios */
.precios {
    margin-top: 4em !important;
}
/* Fin Precios */

@media screen and (min-width: 700px) {
    .navbar-toggle {
        display: none;
    }
    
    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}

#options {
    display: flex;
    flex-direction: column;
}

/*div#navbarNav {
    position: absolute;
    background: red;
    top: 0;
    left: 0;
    transition: box-shadow .5s ease-in-out;
}*/

h1, h2, a{
	font-family: 'Open Sans', sans-serif;
	/*font-weight: 700;*/
	color: rgba(255, 255, 255, 1) !important;
}

.h3 {
    color: rgba(31, 41, 55, 1);    
}

p {
	font-family: 'Open Sans', sans-serif;
	color: rgba(229, 231, 235, 1);
}

.title {
    color: rgba(55, 65, 81, 1) !important;
}

.move-up {
    transform: translateY(-1px);
    /* z-index: 9; */
    background: white;
}

.logo {
	width: 40px;
	height: 40px;
	display: block;
	border-radius: 50%;
}

header {
	/*background-color: rgba(37, 99, 235, 1);*/
	background: #1488CC;
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2B32B2, #1488CC); 

}

.onda-down {
	width: 100%;
	/*background-color: rgba(37, 99, 235, 1);*/
	background: #1488CC;
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
	background: linear-gradient(to right, #2B32B2, #1488CC); 
}
/*background: #ec008c;
background: -webkit-linear-gradient(to left, #fc6767, #ec008c);
background: linear-gradient(to left, #fc6767, #ec008c);*/


@media (min-width: 320px) {
.space {
	padding-top: 13vh;
}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.sticky-nav {
		background: #1488CC;
		background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
		background: linear-gradient(to right, #2B32B2, #1488CC); 

	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
.space {
	padding-top: 10%;
}
}

@media (max-width: 768px) {
/*.navbar-links {
	background: #1488CC; 
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
	background: linear-gradient(to right, #2B32B2, #1488CC); 

}*/
.nav-color-movil {
    background: #1488CC; 
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    background: linear-gradient(to right, #2B32B2, #1488CC); 

}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
.text-banner {
	/*width: 90%;*/
}
}

@media (min-width: 1024px) {
.text-banner {
	/*width: 70%;*/
}

p {
	font-size: 1.2em;
}
}
/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
.space {
	padding-top: 130px;
}
}
