// Medium devices (tablets, less than 992px)
/*@media (max-width: 991.98px) {
.hiddenList {
    transform: translateY(65%) !important;
}
}*/

/* NavBar */

/* Fin NavBar */

#app {
	height: 100vh;
}


.active-bg {
	color: rgba(31, 41, 55, 1) !important;
	background-color: rgba(209, 213, 219, 1);
}

.fg {
	/*height: 85vh !important;*/
	height: 600px !important;
	/*height: 400px !important;*/
}

