// Medium devices (tablets, less than 992px)
/*@media (max-width: 991.98px) {
.hiddenList {
    transform: translateY(65%) !important;
}
}*/

#app {
	height: 100vh;
}

.fg {
	height: 85vh !important;
}
